* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #F5F6F7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eef1f9;
}


form {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input, option {
    display: block;
    padding: 15px;
    width: 470px;
    height: 40px;
    margin: 15px;
    border: 1px solid #31035B;
    border-radius: 5px;
    background-color: #fff;
}

select {
    width: 470px;
}

.container {
    display: flex;
}

.container-botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 230px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #31035B;
    border-radius: 5px;
    cursor: pointer;
    background-color: #31035B;
    color: white;
}

button:hover {
    background-color: rgb(33, 2, 62);
}

.cardgrid {
    display: flex;
    justify-content: left;
    align-items: center;
}

.card {
    position: relative;
    width: 222px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #fcb700;
}


.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content ul {
    align-items: left;
    margin: 40px;
    width: 20%;
}

a {
    text-align: center;
    text-decoration: none;
}

.imagem-perfil-pet {
	width: 200px;
	height: 200px;
}

tbody tr td {
    text-transform: lowercase;
}

tbody tr td::first-letter {
    text-transform: uppercase;
}


/*Barra de filtros*/

.filtro{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 70px;
    background-color: #fff;
    display:flex ;
    justify-content: space-around;
}
.filtro select{
    width: 208px;
    height: 40px;
    border: 0,5px;
    border-radius: 5px;
    color: #38035b;
}
.filtro button{
    height: 40px;
    width: 208px;
    background-color: #38035b;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Barra de navegação tutor logado */

header {
    display: flex;
    height: 70px;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
}
li:hover{
    color: #fcb700;
}

.ini{
    display: flex;
}
.ini img{
    height: 20px;
    width: 20px;
}
.ini h1{
    color: #38035b;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.mid{
    display: flex;
}
.mid a{
    margin-left: 5px;
    display: flex;
    font-size: 12px;
    color: #38035b;
    list-style: none;
}

.end{
    display: flex;
}
.end a{
    margin-left: 5px;
    display: flex;
    font-size: 12px;
    color: #38035b;
    list-style: none;
}
.end button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #38035b;
    font-size: 12px;
}
.li{
    display: flex;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    width: auto;
}


 
.foto-miniatura{
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
