<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC   "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/centralPet?createDatabaseIfNotExist=true&amp;useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<mapping class="centralpet.modelo.entidade.endereco.Endereco" />
		<mapping class="centralpet.modelo.entidade.contato.Contato" />
		<mapping class="centralpet.modelo.entidade.usuario.Usuario" />
		<mapping class="centralpet.modelo.entidade.ong.Ong" />
		<mapping class="centralpet.modelo.entidade.pet.Pet" />
		<mapping class="centralpet.modelo.entidade.tutor.Tutor" />
		<mapping class="centralpet.modelo.entidade.termo.Termo" />
		<mapping class="centralpet.modelo.entidade.adocao.Adocao" />
		<mapping class="centralpet.modelo.entidade.favorito.PetsFavoritosTutor" />
		<mapping class="centralpet.modelo.entidade.favorito.PetsFavoritosTutorId" />
		<mapping class="centralpet.modelo.entidade.acompanhamento.Acompanhamento" />
		<mapping class="centralpet.modelo.entidade.pendencia.Pendencia" />
		<mapping class="centralpet.modelo.entidade.visita.Visita" />
		<mapping class="centralpet.modelo.entidade.recolhimento.Recolhimento" />
	</session-factory>
</hibernate-configuration>